/* All are in alphabetical order. */
/* Title section */
#title {
  background-color: #ff4c68;
  color: white;
}
/* Navigation bar */
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
}

.added-margin {
  margin-bottom: 7rem;
}
.brand-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}
.container-fluid {
  padding: 3% 15% 7%;
}
.download-button {
  margin: 5% 3% 5% 0;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
.iphone-img {
width: 20%;
  -ms-transform: rotate(25deg); /* IE 9 */
  transform: rotate(25deg);
  position: absolute;
  z-index: 0;
  right: 25%;
}
@media only screen and (max-width:991px) {
  #title{
    text-align: center;
  }
  .iphone-img{
   position: static;
   width: 57%;
   -ms-transform: rotate(0deg); /* IE 9 */
   transform: rotate(0deg);
 }
}
/* Features section*/
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature-whole {
  text-align: center;
  margin: 3% 0;
  padding: 5%;
}
.feature-whole > h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}
.feature-whole > p {
  color: #8f8f8f;
}
.feature-img {
  font-size: 3rem;
  color: #ef8172;
}
.feature-img:hover {
  color: #ff4c68;
}

/*Testimonial section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding: 3%;
}
.carousel-item {
  padding: 7% 15%;
}
.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}
.press-image {
  margin: 20px 20px 50px;
  width: 15%;
}
/* Pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column  {
  padding: 3% 2%;
}
.pricing-column-last{
  padding: 3% 2%;
  margin:0 auto;
}
/* Call to action section */
#cta{
  padding: 7% 15%;
  text-align: center;
  background-color: #ff4c68;
}
.cta-text{
  font-family:'Montserrat',sans-serif;
  font-weight: 900;
  font-size: 2.9rem;
  color: #fff;
  width: 80%;
  margin: 0 auto;
}
